@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

$nav-background: #fff9f9;
$create-btn: #4C54F8;
$border-color : #0A6AF6;

.navContainer {
  background-color: $nav-background;

  .navListItem li {
    font-weight: 400;
  }
  .hamburgerIcon {
    position: relative;
  }
  .bellIcon {
    position: relative;
  }
 
  .navItemContainer {
    position: absolute;
    background: rgb(248, 247, 247);
    padding: 10px;
    border-radius: 10px;

  }
}

.createTeamBtn{
    color: $create-btn;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid $create-btn;
    border-radius: 12px;
    padding: 24px 32px 24px 32px;
}
.cardContainer{
    border: 1px solid $create-btn;
    border-radius: 12px;
    Padding: 40px 32px 40px 32px;
}
.hidden{
    display: none;
}

.modalContainer {
  display: block;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid $border-color;
  box-shadow: 0 0 15px 8px rgba(10, 106, 246, 0.2);
  background-color: white;

  .inputSection{
    height: 75px;
    border-radius: 12px;
    border: 2px solid $border-color;
    padding-left: 20px;
  }
  .inputSection {
    outline: none;
  }
  .inputSection::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 23.44px;
    
  }
  .cancelBtn{
    width: 220px;
    height: 55px;
    border-radius: 34px;
    border: 2px solid #000000;
    Padding: 16px 79px 16px 79px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
  }
  .continueBtn{
    width: 215px;
    height: 55px;
    border-radius: 34px;
    background-color: $border-color;
    Padding: 16px 67px 16px 67px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #fff;
  }
}





