@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

$nav-background: #fff9f9;
$create-btn: #4C54F8;
$border-color : #0A6AF6;

.navContainer {
  background-color: $nav-background;

  .navListItem li {
    font-weight: 400;
  }
  .hamburgerIcon {
    position: relative;
  }
  .bellIcon {
    position: relative;
  }
 
  .navItemContainer {
    position: absolute;
    background: rgb(248, 247, 247);
    padding: 10px;
    border-radius: 10px;

  }
}

.createTeamBtn{
    color: $create-btn;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid $create-btn;
    border-radius: 12px;
    padding: 24px 32px 24px 32px;
}
.cardContainer{
    border: 1px solid $create-btn;
    border-radius: 12px;
    Padding: 40px 32px 40px 32px;
}
.hidden{
    display: none;
}

.modalContainer {
  display: block;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #A5ECD7;
  box-shadow: 0 0 15px 10px rgba(10, 106, 246, 0.2);
  background-color: white;

  .inputSection{
    height: 75px;
    border-radius: 12px;
    border: 2px solid $border-color;
    padding-left: 20px;
  }
  .inputSection {
    outline: none;
  }
  .inputSection::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 23.44px;
    
  }
  .cancelBtn{
    width: 220px;
    height: 55px;
    border-radius: 34px;
    border: 2px solid #000000;
    Padding: 16px 79px 16px 79px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
  }
  .continueBtn{
    width: 215px;
    height: 55px;
    border-radius: 34px;
    background-color: $border-color;
    Padding: 16px 67px 16px 67px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #fff;
  }
}

.categoryContainer{
  display: block;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #A5ECD7;
  box-shadow: 0 0 15px 10px rgba(10, 106, 246, 0.2);
  background-color: white;

  .inputSection{
    height: 75px;
    border-radius: 12px;
    border: 2px solid $border-color;
    padding-left: 20px;
  }
  .inputSection {
    outline: none;
  }
  .inputSection::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 23.44px;
    
  }

  .cancelBtn{
    width: 220px;
    height: 55px;
    border-radius: 34px;
    border: 2px solid #000000;
    Padding: 16px 79px 16px 79px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
  }
  .continueBtn{
    width: 215px;
    height: 55px;
    border-radius: 34px;
    background-color: $border-color;
    Padding: 16px 67px 16px 67px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #fff;
  }
}

.activeMemberBtn {
  // width: 275px;
  height: 60px;
  border: 2px solid rgba(76, 84, 248, 0.3);
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #FFFFFF;
  color: rgba(76, 84, 248, 0.3);
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.pendingMemberBtn{
  height: 60px;
  border: 2px solid rgba(76, 84, 248, 0.3);
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #FFFFFF;
  color: rgba(76, 84, 248, 0.3);
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
}
.activeMemberBtns {
  // width: 275px;
  height: 60px;
  border: 2px solid rgba(76, 84, 248, 0.3);
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #FFFFFF;
  color: rgba(76, 84, 248, 0.3);
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.pendingMemberBtns{
  height: 60px;
  border: 2px solid rgba(76, 84, 248, 0.3);
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #FFFFFF;
  color: rgba(76, 84, 248, 0.3);
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
}


.assignMemberBtn{
  width: 183px;
  height: 71px;
  border-radius: 16px;
  border: 2px solid $border-color;
  padding: 24px;
  font-weight: 500;
  size: 20px;
  color: $border-color;
  line-height: 23.44px;
}

.addMemberBtn{
  width: 174px;
  height: 71px;
  border-radius: 16px;
  background-color: $border-color;
  padding: 24px;
  font-weight: 500;
  size: 20px;
  color: #FFFFFF;
  line-height: 23.44px;
}
.pendingBtn{
  width: 174px;
  height: 71px;
  border-radius: 16px;
  border:2px solid #A5ECD7;
  padding: 24px;
  font-weight: 500;
  size: 20px;
  color: #A5ECD7;
  line-height: 23.44px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  // border-bottom: 1px solid #ddd;
}
.tableColumn{
  background-color: #eae8e8;
  padding: 15px;
  border: 2px solid #eae8e8;
  border-radius: 12px;
}
.personImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.link{
  border-bottom: 1px solid #000;
  width: 30px;
}
.resendBtn{
  border-radius: 8px;
  padding: 10px;
  background-color: $border-color;
  color: white;
  font-weight: 500;
  size: 20px;
  line-height: 23.44px;
}

.teamDescription {
  position: relative;
  // z-index: -1;
}

.addMemberModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.addMemberContainer{
  height: 394px;
  border: 1px solid #9ED2C3;
  border-radius: 20px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 15px 10px rgba(10, 106, 246, 0.2);
}

.cancelBtn{
  width: 220px;
  height: 55px;
  Padding: 16px 79px 16px 79px;
  border: 2px solid #000;
  border-radius: 34px;
  font-size: 20;
  font-weight: 700;
  line-height: 23.44px;
}
.continueBtn{
  width: 215px;
  height: 55px;
  Padding: 16px 67px 16px 67px;
  background-color: $border-color;
  border-radius: 34px;
  font-size: 20;
  font-weight: 700;
  line-height: 23.44px;
  color: white
}

.teamMemberModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.teamMemberContainer{
  height: 477px;
  border: 1px solid #9ED2C3;
  border-radius: 20px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 15px 10px rgba(10, 106, 246, 0.2);
}

.memberInput{
  border: 2px solid $border-color;
  border-radius: 12px;
  padding: 20px;
}

.cancelMemberCancelBtn{
  width: 220px;
  height: 55px;
  Padding: 16px 79px 16px 79px;
  border-radius: 34px;
  border: 2px solid #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
}
.addMemberCancelBtn{
  width: 250px;
  height: 55px;
  Padding: 16px 67px 16px 67px;
  border-radius: 34px;
  background-color: $border-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  color: #FFFFFF;
}

.activeBtn{
  border: 2px solid #4C54F8;
  color: #4C54F8;
  font-size: 24px;
  font-weight: 700;
}

.dashBoardTableContainer {
  height: 849px;
  border: 1px solid #4C54F8;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 40px;
}

.table-header {
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 1rem;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;
}

.dataContainer {
  height: 99px;
  border: 1px solid #3267B1;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
}

.table-row {
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  align-items: center;
}

.user-image {
  width: 50px;
}

.user-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  color: #202020;
}

.user-email {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  margin-top: 8px;
}

.user-title,
.user-status,
.user-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.userEmail {
  opacity: 60%;
}



/* CSS for responsive design */
@media only screen and (max-width: 1024px) {
  table {
      border: 0;
  }

  table caption {
      font-size: 1.3em;
  }
  
  table thead {
      display: none;
  }
  
  table tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  
  table td {
      display: block;
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: left;
  }
  
  table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
  }
  
}